# dependencies
/node_modules
/.pnp
.pnp.*

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
# Admin Email: admin@visionenergyme.com
# Admin Password: AdminPass@visionenergy
.env
.env.*
!.env.example
*.env

# credentials, SSL keys & certificates
*.pem
*.pub
*.key
*.cert
*.crt
*.p12
*.pfx
id_rsa
id_ed25519

# sqlite dev database
prisma/dev.db
prisma/dev.db-journal
*.db
*.db-journal
*.sqlite
*.sqlite3

# IDEs & OS files
.vscode/
.idea/
*.swp
*.swo

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

